$sidebarWidth: 15rem;
$topNavbarHeight: 60px;

#root {
  height: 100%;

  .pushable {
    padding-top: $topNavbarHeight !important;
    transform: none;

    .pusher {
      height: 100%;
    }
  }

  .header.item.brand {
    padding-top: 0;
    padding-bottom: 0;
    height: $topNavbarHeight;

    * {
      line-height: $topNavbarHeight;
    }
  }
}

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
  transform: translate3d($sidebarWidth, 0, 0);
}

#navbar {
  border-radius: 0;
  border: none;
  margin: 0;

  &.desktop {
    left: $sidebarWidth;
    width: calc(100% - #{$sidebarWidth});
  }

  .ui.container {
    width: 100%;

    .ui.menu.right {
      border-radius: 0;
      border: none;
      box-shadow: none
    }
  }
}

.desktop-content-wrapper {
  margin-left: $sidebarWidth;
}

.ui.menu.vertical.fixed-sidebar {
  position: fixed;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

.app-container {
  padding: 30px;

  &.desktop {
    padding-top: calc(30px + #{$topNavbarHeight});
  }

  &.mobile {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.ui.menu.fixed-sidebar {
  z-index: 10;
}

.debug-footer {
  position: absolute;
  bottom: 0;
  color: white;
  background: green;
  z-index: 1000;
  padding: 2px;

  small {
    margin-right: 10px;
  }
}
